body {
  /*background-color: rgb(238,238,238);*/
}
.alert-success {
  position: absolute;
  display: block;
  background-color: #3c763d;
  font-weight: bold;
  width: 50%;
  text-align: center;
  padding: 20px;
  color: #fff;
  top: 40%;
  left: 55%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  z-index: 1;
  opacity: 0.85;
}
.panel-title {
  color: #f0ad4e;
  font-size: medium;
}
.modal-title {
  color: #3c763d;
}
.loader {
  z-index: 9999;
  text-align: center;
  align-content: center;
  padding-bottom: 10px;
  display: none;
}
.navbar-default .navbar-nav>li>a {
  color: #3c763d;
  /*color: #555;*/
  /*color: #777;*/
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #f0ad4e;
  background-color: #e7e7e7;
  font-weight: bold;
}
.navbar-default .navbar-nav>li>a:hover {
  /*color: #f0ad4e;*/
  color: #777;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #f0ad4e;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  /*color: #555;*/
  color: #3c763d;
}
.nav-title {
  color: #f0ad4e !important;
  font-size: 100% !important;
  font-weight: bold !important;
}
.navbar-nav .nav-link {
  /*color: #6c757d;*/
  color: #3c763d;
}
.navbar-nav .active>.nav-link, .navbar-nav .active>.nav-link:focus, .navbar-nav .active>.nav-link:hover, .navbar-nav .nav-link.active, .navbar-nav .nav-link.active:focus, .navbar-nav .nav-link.active:hover, .navbar-nav .nav-link.open, .navbar-nav .nav-link.open:focus, .navbar-nav .nav-link.open:hover, .navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover, .navbar-nav .open>.nav-link, .navbar-nav .open>.nav-link:focus, .navbar-nav .open>.nav-link:hover {
  /*color: #343a40;*/
  color: #f0ad4e;
  font-weight: bold;
}
.app-footer {
  background: #fff;
  color: #3c763d;
}
.breadcrumb {
  background-color: #fff;
}
.dropdown-menu {
  padding: 0;
}
.callout {
  background-color: #fff;
}
.user_name{
  color: #707B7C;
}
.panel{
  font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
  font-size: small;
  color: #707B7C;
}
.modal-header{
  background-color: whitesmoke;
  border-bottom: 1px solid #D9DDE1;
}
.modal-footer{
  background-color: whitesmoke;
  border-top: 1px solid #D9DDE1;
}
.container{
  font-size: small;
}
.input-group input.form-control{
  height: 30px;
  background-color: white;
  border-radius: 4px;
}
.input-group-append span.input-group-text{
  padding: 0 4px;
  font-size: small;
  width: 100px;
}
.form-group{
  margin: 5px;
}
.modal-body{
  padding: 2px;
}
table thead{
  background-color: #85929E;
  color: white;
}
.notification{
  background-color: white;
  border-radius: 4px;
  border: 0 solid #B2BABB;
  box-shadow: 1px 4px 3px 0 #B2BABB;
  padding: 0 0 25px 0;
}
.panel-heading2 {
  background-color: #229954;
  box-shadow: 0 1px 1px 0 #B2BABB;
  color: white;
  padding: 15px;
}
.notification-form{
  padding: 5px 35px 25px 35px;
}
.version{
  margin-top: 15px;
}
.product{
  margin-top: 15px;
}
.version-panel{
  background-color: white;
  padding: 25px;
  border: 1px solid #99A3A4;
  box-shadow: 2px 2px 2px #99A3A4;
  border-radius: 4px;
}
.country-panel{
  background-color: white;
  padding: 0;
  /*border: 1px solid #E4E5E5;*/
  box-shadow: 0 1px 2px 0 #D3D5D5;
  border-radius: 4px;
  margin: 0 auto;
}
.country-body{
  padding: 25px;
}
.dashboard-table{
  box-shadow: 2px 2px 2px #99A3A4;
  border-radius: 4px;
}
.table-head{
  border-radius: 8px;
  background-color: #0c5460;
}
.dashboard{
  box-shadow: 2px 2px 2px #C2C4C4;
  border: 1px solid #C2C4C4;
}
.dashboard-small{
  box-shadow: 0 2px 2px #D0D2D3;
}
.send_payment{
  background-color: white;
  padding: 0 0 25px 0;
  border: 0 solid #D5D8DC;
  box-shadow: 0 4px 4px 0 #99A3A4;
  border-radius: 8px;
  font-size: small;

}
.create_admin{
  background-color: white;
  padding: 0 0 25px 0;
  border: 0 solid #D5D8DC;
  box-shadow: 0 4px 4px 0 #99A3A4;
  border-radius: 0;
  font-size: small;

}
.input input.form-control{
    height: 30px;
  font-size: small;
}
.input select.form-control{
    height: 30px;
}
.input input::placeholder{
    font-size: small;
  color: #ABB2B9;
}
.send-heading{
  background-color: #8DC00C;
  box-shadow: 0 1px 1px 0 #B2BABB;
  color: white;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.send-payment-form{
  padding: 5px 35px 25px 35px;
}
.send-heading h5{
  font-size: medium;
  font-family: sans-serif;
  padding: 10px;
  font-weight: bold;
  color: white;
}
.create_admin_head{
  background-color: green;
  box-shadow: 0 1px 1px 0 #B2BABB;
  color: white;
  padding: 10px;
  border-radius: 0;
}
.create_admin_head h5 {
  font-size: medium;
  font-family: sans-serif;
  padding: 10px;
  font-weight: bold;
  color: white;
}
.user-panel{
  background-color: white;
  border: 1px solid #D5D8DC;
  box-shadow: 0 2px 2px 0 #99A3A4;
  border-radius: 4px;
  border-top: 4px solid #8DC00C;
}
.user-heading{
  border: 1px solid #D5D8DC;
  box-shadow: 0 3px 3px 0 #99A3A4;
}
.user-heading h4 {
  font-size: small;
  color: #DC7633;
  padding: 4px;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}
.country-heading{
  background-color: white;
  padding: 15px;
  border-bottom: 1px solid #F4F0F0;
  color: #DC7633;
  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.03);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.country-heading a{
  font-size: medium;
  color: #DC7633;
}
.country_box{
  background-color: white;
  border-radius: 4px;
  padding: 5px 8px;
}
.country_box_inner{
  background-color: whitesmoke;
  border: 1px solid #EBEEEE;
  border-top-left-radius: 20px;
  box-shadow: 0 1px 1px 0 silver;
  border-bottom-right-radius: 30px;
  /*border-bottom-left-radius: 310px;*/
}
.country_flag{
  height: 35px;
  width: 35px;
  border-radius: 360px;
}

.country_head{
  padding: 0;
  background-color: white;
  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.03);
  border-top-left-radius: 360px;
  border-bottom-left-radius: 310px;
  /*border-top-right-radius: 310px;*/
  border-bottom-right-radius: 310px;

}
.flag {
  width: 110px;
  height: 20px;
  box-sizing: content-box;
  padding-top: 15px;
  position: relative;
  background: red;
  color: white;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}
.flag:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 13px solid #eee;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
}
.report_panel{
  margin: 0 auto;
  background-color: whitesmoke;
  padding: 15px;
  border: 1px solid #D5D8DC;
  border-top: 2px solid #99A3A4;
  padding-bottom: 25px;
}
.report .form-group input.form-control::placeholder{
  font-size: small;
  color: silver;
}
.report .form-group input.form-control{
  font-size: small;
  color: #5a6268;
}

.product_heading{
  /*background-color: rebeccapurple;*/
}
.products_panel{
  padding: 25px;
}
#my-file{
  position:absolute;
  left:0;
  top:0;
  background:red;
  width:100%;
  height:100%;
  opacity:0;
}

#file-wrap{
    position:relative;
    height: 250px;
    padding: 70px;
    display: block;
    border: 2px dashed #ccc;
    text-align: center;
    box-sizing:border-box;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    /*box-shadow: 0 1px 1px 0 silver;*/
}
